.arrow_icon {
  cursor: pointer;
  margin-left: -0.62rem;
  font-size: 2.25rem !important;
  margin-top: 0.12rem;
}

.emi_list_header {
  display: flex;
  margin-left: 0.62rem;
}

.emi_details_table {
  margin-bottom: 1.25rem;
}

.year {
  cursor: pointer;
}

@media (width <= 500px) {
  .year {
    font-size: 2rem !important;
  }
}
