.table {
  border-spacing: 5px;
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
}

.table_header_cell,
.table_cell {
  padding: 10px 10px;
}

.table_header_cell {
  text-align: end;
  /* background: #e4e4e7; */
}

.table_cell {
  text-align: end;
}

.month_cell {
  text-align: start;
}

.month_column_cell {
  text-align: start;
  padding: 10px 10px;
  background: #e4e4e7;
  /* background: #e4e4e7; */
}

.row_light {
  border-bottom: 1px solid #eef4ed1f;
}
.row_dark {
  border-bottom: 1px solid #e0e0e0;
}
