.emi_summary_container {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.regular_emi {
  margin-top: 64px;
}

.acc_emi_plan_container {
  background: linear-gradient(
    90deg,
    hsla(213, 72%, 16%, 1) 0%,
    hsla(215, 66%, 22%, 1) 100%
  );
  color: #e5effb !important;
  padding-top: 25px;
  border-radius: 40px !important;
}

.additional_payments {
  margin: 30px;
}

.benefits_container {
  margin-bottom: 20px;
}

.doughtnut_chart {
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.card_content {
  padding: 16px 24px;
}
