.emi_summary_container {
  gap: 50px;
}

.regular_emi {
  margin-top: 64px;
}

.additional_payments {
  margin: 30px;
}

.benefits_container {
  margin-bottom: 20px;
}

.doughtnut_chart {
  position: relative;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
