.inputs_container {
  margin: 3.75rem 1.87rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

@media (width <= 840px) {
  .inputs_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 490px) {
  .inputs_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
