.header_container {
  background: #0b2545;
  padding: 0.93rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.inputs_container {
  background: #0b2545;
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end;
}

@media (width <= 900px) {
  .inputs_container {
    display: none;
  }
}
