.header_container {
  background: #0b2545;
  padding: 0.93rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2.81rem;
}

@media (width < 600px) {
  .logo {
    height: 2.3rem !important;
  }
}

.inputs_container {
  background: #0b2545;
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end;
}

.menu_icon {
  color: #fff;
  font-size: 2.25rem !important;
  cursor: pointer;
}

@media (width <= 900px) {
  .inputs_container {
    display: none !important;
  }
}

@media (width > 900px) {
  .menu_icon {
    display: none !important ;
  }
}

.drawer_container {
  background: #0b2545;
  height: 100%;
  padding: 1.87rem;
  width: 290px;
}

.drawer_title_container {
  display: flex;
  gap: 0.62rem;
  margin-bottom: 2rem;
}

.drawer_inputs_container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.back_icon {
  margin-top: 0.25rem;
  cursor: pointer;
}
