* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (width <= 400px) {
  html {
    font-size: 15px;
  }
}

@media (width <= 380px) {
  html {
    font-size: 14px;
  }
}

@media (width <= 360px) {
  html {
    font-size: 13px;
  }
}

@media (width <= 340px) {
  html {
    font-size: 12px;
  }
}

@media (width <= 320px) {
  html {
    font-size: 10px;
  }
}
