* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (width <= 520px) {
  html {
    font-size: 15.5px;
  }
}

@media (width <= 480px) {
  html {
    font-size: 14.5px;
  }
}

@media (width <= 440px) {
  html {
    font-size: 13.5px;
  }
}

@media (width <= 420px) {
  html {
    font-size: 12.5px;
  }
}

@media (width <= 390px) {
  html {
    font-size: 11.5px;
  }
}

@media (width <= 360px) {
  html {
    font-size: 10.8px;
  }
}

@media (width <= 340px) {
  html {
    font-size: 10.4px;
  }
}
