.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-basline {
  align-items: baseline;
}
