.flex_h {
  display: flex;
  flex-direction: row;
}

.flex_v {
  display: flex;
  flex-direction: column;
}

.justify_center {
  justify-content: center;
}

.align_basline {
  align-items: baseline;
}

.margin_bottom_1 {
  margin-bottom: 15px;
}

.margin_bottom_2 {
  margin-bottom: 20px;
}
