.params_container {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.prepayment_condition {
  display: flex;
  flex-direction: row;
  gap: 0.62rem;
  align-items: center;
}

.custom_prepayment_switch {
  margin-left: 0.31rem;
}
